@import "../../App.scss";
.about {
  display: flex;
  flex-direction: column;
  height: 100vh;

  h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 50px;

    span {
      color: orange;
    }
  }

  .title {
    width: 1366px;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    @include mobile {
      flex-direction: column;
      text-align: center;
      width: 95%;
      font-size: 15px;
    }
    @include laptop {
      flex-direction: column;
      text-align: center;
      width: 95%;
      scale: 0.8;
      margin: 10px;
    }
    h2 {
      font-size: 30px;
      span {
        color: orange;
      }
    }
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 50%;
    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }
    .skills {
      flex: 1;
      border: 1px solid white;
      padding: 20px;
      margin: 30px;
      border-radius: 20px;
      @include mobile {
        flex-direction: column;
        text-align: center;
        margin: 15px;
        padding: 10px;
      }

      img {
        width: 90px;
        height: 90px;
        padding: 2px;
        margin: 14px;
        margin-left: 10px;

        @include mobile {
          width: 25px;
          height: 25px;
          padding: 2px;
          margin: 2px;
        }
        @include laptop {
          width: 50px;
          height: 50px;
          padding: 2px;
          margin: 12px;
        }
      }
      img:hover {
        border-radius: 10px;
        box-shadow: 0px 0px 10px 9px rebeccapurple;
        scale: 1.05;
      }
    }
    .explore {
      flex: 1;
      border: 1px solid white;
      padding: 20px;
      margin: 30px;
      border-radius: 20px;
      line-height: 30px;
      @include mobile {
        flex-direction: column;
        text-align: center;
        padding: 10px;
        margin: 15px;
      }

      .wrapper {
        padding: 10px 0px 0px 30px;
        line-height: 1.5vw;
        font-size: 16px;
        @include laptop {
          line-height: 1vw;
          padding: 12px;
          font-size: 1vw;
        }

        h3 {
          font-size: 25px;
          padding: 10px;
          @include laptop {
            font-size: 1.8vw;
            padding: 1vw;
          }
        }
      }

      em {
        color: lightgray;
        font-weight: 600;
      }

      a {
        margin: 5px;
        display: inline-block;

        button {
          gap: 20px;
          padding: 10px;
          background-color: orange;
          border-radius: 10px;
          border: none;
          cursor: pointer;
          @include laptop {
            gap: 8px;
            padding: 7px;
            font-size: 10px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
