@import "../../App.scss";
.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }

    span {
      font-weight: bold;
      margin-left: -1rem;

      @include mobile {
        display: none;
      }
      @include laptop {
        margin-left: 7rem;
      }
    }

    .social {
      display: flex;
      gap: 20px;
      scale: 0.8;

      img {
        width: 35px;
        height: 35px;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, orange, lightgray);
        padding: 7px;
        border-radius: 10px;

        img {
          margin-right: 5px;
          width: 20px;
          height: 20px;
        }
      }
      button:hover {
        cursor: pointer;
      }
    }
  }
}
